
.book-list-item .label {
  font-size: 0.9em;
  margin-right: 5px;
  color: var(--ion-color-medium, #989aa2);
}

.book-list-item .value {
  font-size: 0.9em;
}

.book-list-item .cover-container {
  width: 40px;
  height: 56px;
  overflow: hidden;
  margin-right: 12px;
}

.book-list-item .cover-image {
  width: 40px;
  height: auto;
  border: 1px solid var(--ion-color-light-shade, #d7d8da);
}
