.et-empty {
  padding: 30px 10px;
  text-align: center;
  .empty-icon {
    font-size: 100px;
    color: var(--ion-color-warning);
  }
}
.et-rate {
  display: inline-block;
  font-size: 18px;
  color: var(--ion-color-warning);
}

.et-row {
  display: flex;
  align-items: center;
  .label {
    font-size: 0.9em;
    margin-right: 5px;
    white-space: nowrap;
    color: var(--ion-color-medium, #989aa2);
  }
  .value {
    font-size: 0.9em;
    color: var(--ion-color-dark, #222428);
  }

}

.menu-footer {
  display: flex;
  padding: 16px;
  .user-name {
    color: var(--ion-color-primary)
  }
  .operation {
    flex: 1;
    text-align: right;
    color: var(--ion-color-danger)
  }
}
